*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Noto Sans KR', sans-serif;
}

body{
  max-width: 767px;
  margin: 0 auto
}

ul, ol, li{
  list-style: none;
}

a{
  text-decoration: none;
  color: inherit;
}

button{
  border: none;
  background-color: transparent;
  cursor: pointer;
}
.a11y-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  overflow: hidden;
  clip-path: polygon(0 0, 0 0, 0 0);
}
