.Header {
    display: flex;
    /*justify-content: space-between;*/
    width: 390px;
    height: 50px;
    align-items: center;
    padding: 20px 0;
    background-color: #ff9d00;

}

Header > div {
    display: flex;
    justify-content: center;
    align-items: center;
}

.Header .header_center {
    display: flex;
    background-color: red;
    width: 50%;
    font-size: 25px;
    justify-content: center;
    align-items: center; /* 수정된 부분: 내용을 세로 중앙 정렬 */
}